* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

.logoContainer {
    border-bottom: 2px solid #FFF;
}

.logo {
    width: 200px;
}

nav {
    align-self: stretch;
}

.nav-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.nav-item {
    list-style: none;
    flex-grow: 1;
    display: flex;
}

.nav-item a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    flex-grow: 1;
}

.nav-item a:hover {
    text-decoration: underline;
}

.portadaContainer {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.imagenPrincipal {
    width: 100%;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.tituloPrincipal, .descripcionPrincipal {
    text-align: center;
}

.proveedoresContainer {
    padding: 8rem 2rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.proveedor {
    border-radius: 1rem;
    overflow: hidden;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.proveedor-logo {
    width: 100%;
}

.proveedor-nombre, .proveedor-descripcion {
    text-align: center;
}

.proveedor-boton {
    margin-bottom: 1.5rem;
    background: #FFF;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 10px 2px #ccc;
    cursor: pointer;
}

@media (min-width: 600px) {

    .portadaContainer {
        flex-direction: row;
    }

    .imagenPrincipalContainer, .textos {
        width: 50%;
    }

    .tituloPrincipal {
        font-size: 2.2rem;
    }

    .descripcionPrincipal {
        font-size: 1.2rem;
    }

    .proveedoresContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}